body{
    background-color: rgb(218, 217, 217);
    margin: auto; 
}

header{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: "Verdana", sans-serif;
    display: flex;
    justify-content: center;
}

.kontakty{
    justify-content: center;

}

.kachar{
    justify-content: left;
    display: flex;
    height: 1000px;
    opacity: 20%;

}